body{
        font-family: 'Arial';
        max-width: 900px;
        margin: 40px auto;
        line-height: 30px;
        color: rgb(34, 34, 34);
    }

    .header {
        font-size: 13px;
        font-weight: 600;
        color: rgb(204, 51, 0);
    }

    .label {
        color: rgb(85, 85, 85);
        margin-left: 10px;
    }
    .label .free {
        color: rgba(69, 4, 102, 0.878);
        font-weight: 600;    
    }

    h1 {
        font-family: 'Montserrat';
        font-size: 26px;
        margin: 20px 0 20px;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 18px;
        color: rgb(102, 102, 102);
        font-weight: 500;
    }

    .image {
        float: right;
        margin-left: 50px;
        width: 260px;
    }

    .image img {
        width: 50%;
        height: 100px;
        
    }

    .article-body {
        font-family: 'Montserrat';
        font-size: 20px;
        margin-top: 20px;
        margin-right: 100px;
        color: rgb(102, 102, 102);
    }

    .correction {
        color: rgb(0, 86, 214);
        margin-top: 25px;
        font-weight: 600;
        font-size: 20px;
    }
    .correction a {
        font-weight: 500;  
        color: rgb(0, 86, 214);
        text-decoration: none;
        font-weight: normal;
    }